@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* font-family: 'Pretendard', sans-serif; */

.header {
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  font-family: 'Pretendard', sans-serif;
}

/* 전체 상단 콘텐츠를 오른쪽 정렬로 설정 */
.top-content {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: flex-end; /* 오른쪽 끝으로 정렬 */
  gap: 20px; /* 요소 사이의 간격 조정 */
  width: 100%; /* 전체 너비 사용 */
}

/* 사용자 정보와 로그아웃 버튼을 포함하는 컨테이너 스타일 */
.loginuser-container {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
}

/* 사용자 정보 스타일 */
.loginuser {
  font-family: 'Pretendard', sans-serif;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  background-color: #e8e8e8;
  border-radius: 30px;
  padding: 2px 10px;
}

/* 로그인,로그아웃 버튼 스타일 */
.login-button,
.logout-button {
  font-family: 'Pretendard', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px; /* 문자 간격 조정 */
  color: #444444;
  background: none; /* 기본 배경 제거 */
  border: none; /* 기본 테두리 제거 */
  cursor: pointer; /* 클릭 가능한 버튼으로 표시 */
}

/* 마이페이지 링크 스타일 */
.mypage-link {
  text-decoration: none;
  color: #444444;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.bottom-content {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%; /* 전체 너비 사용 */
  position: relative; /* 상대 위치 설정 */
}

.logo-content {
  flex-shrink: 0; /* 로고는 축소되지 않도록 설정 */
  margin-right: 20px; /* 로고와 나머지 내용 사이에 공간 추가 */
}

.search-content {
  flex-grow: 1; /* 가용 공간 채우기 */
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
}

.icon-content {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
}

.logout-message {
  font-family: 'Pretendard', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #040404; /* 메시지 배경색 */
  color: white; /* 텍스트 색상 */
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}
