@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.logo {
  display: flex;
  align-items: baseline;
  text-decoration: none; /* 기본 링크 스타일 제거 */
  color: inherit; /* 텍스트 색상 상속 */
  font-family: 'Montserrat', sans-serif;
  transition: transform 0.3s ease, color 0.2s ease; /* 부드러운 효과 추가 */
  }

  .logo:hover {
    color: #28A745; /* 호버 시 색상 변경 */
  }

  
  .logo-large {
    font-size: 35px;
    font-weight: 800;
  }
  
  .logo-small {
    font-size: 12px;
    font-weight: 500;
  }
  
