@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}

.talk {
  display: flex;
  margin-top: -10px;
  height: 80vh;
  font-family: 'Pretendard', sans-serif;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f4f6f9;
  overflow-x: hidden; /* 좌우 스크롤 방지 */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.talk-sidebar {
  width: 280px;
  border-right: 1px solid #e0e0e0;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: auto; /* 사이드바 내부 스크롤 가능 */
}

.talk-sidebar-header {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px;
  background-color:#f1f1f1;
}

.talk-user-list {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden; /* 좌우 스크롤 방지 */
}

.talk-user-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.talk-user-item:hover {
  background-color: #e0e0e0;
}

.talk-user-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.talk-user-name {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.talk-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;
}

.talk-profile {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.talk-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.talk-profile-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.talk-chat {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px); /* 헤더와 푸터를 제외한 높이 */
  background-color: #fafafa;
  overflow: hidden; /* 채팅 영역 스크롤 방지 */
}

.talk-chat-messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  background-color: #ffffff;
}

.talk-chat-footer {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #ffffff;
}

.talk-input {
  font-family: 'Pretendard', sans-serif;
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
}

.talk-input:focus{
  border-color: #00c853;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 200, 83, 0.25);
}

.talk-send-button {
  font-family: 'Pretendard', sans-serif;
  font-weight: 300;
  margin-left: 12px;
  padding: 8px 12px;
  background-color: #28A745; /* 버튼 배경색 */
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.talk-send-button:hover {
  background-color: #149132;
}

.talk-placeholder {
  font-family: 'Pretendard', sans-serif;  
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #aaa;
}