@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* font-family: 'Pretendard', sans-serif; */

.basic {
    width: 65%;
    margin: 0 auto; /* 화면 중앙에 정렬 */
    font-family: 'Pretendard', sans-serif;
  }
